* {
  font-family: sans-serif;
}

:root {
  --margin: 1rem;
}
body {
  margin: 0;
}

nav {
  display: flex;
  list-style: none;
}
nav {
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 6px gray;
  margin-bottom: var(--margin);
  background-color: white;
  padding: 1rem;
}
.content img {
  width: 50vw;
}
.brand {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.brand span {
  margin-left: 0.5rem;
}
aside ul a,
h2 {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}

main,
header {
  margin: var(--margin);
}
section {
  /* padding-top: calc(var(--margin) * 3); */
}

header img {
  width: 25vw;
}

aside.menu {
  position: fixed;
  top: 25%;
  right: 0;
  /* border: 1px red solid; */
  float: right;
  width: 19%;
}

aside.menu li {
  list-style: none;
}
.content {
  /* border: 1px red solid; */
  float: left;
  width: 80%;
}
