* {
  font-family: sans-serif;
}

:root {
  --margin: 1rem;
}
body {
  margin: 0;
}

nav,
nav ul {
  display: flex;
  list-style: none;
}
nav {
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 6px gray;
  margin-bottom: var(--margin);
  background-color: white;
  padding: 0 1rem;
}
nav ul {
  justify-content: space-around;
  width: 80%;
}
nav ul a,
h2 {
  text-decoration: none;
  text-transform: capitalize;
}

main,
header {
  margin: var(--margin);
}
section {
  padding-top: calc(var(--margin) * 3);
  height: 100vh;
}
